.container{
    margin-left: 30%;
    margin-right: 30%;
    padding: 29px;
}
.input{
    padding:10px;
    width: 60%;
    outline: none;
    border-radius: 4%;
    width: 100%;
    margin-bottom: 3px;
    box-shadow: 3px 3px 0px slategray;
  }
  .btn-add{
      margin-left: 25%;
      padding: 6px;
      width: 50%;
      margin-top: 3px;
      margin-bottom: 10px;
      background: cornflowerblue;
      border: none;
      box-shadow: 6px 6px 0px slategray;
      border-radius: 5%;
  }