.items{
    border: 1px black solid; 
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 8px 8px 2px slategray;
    margin-top: 5px;
    margin-bottom: 8px;
}
.btn{
    background: red;
    border: none;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    margin-left: 70%;
}

.titleItem{
    margin-left: 10px;
}
